<main
  class="w-screen h-screen bg-light-bg flex flex-col p-10 text-center overflow-hidden transition-all duration-300 justify-start"
  [ngClass]="{
    'pt-[40vh] gap-20': isLoading,
    'pt-40 gap-5': !isLoading ,
  }"
>
  <app-credit-badge class="z-1" [isLight]="true"></app-credit-badge>
  <img
    class="absolute top-0 left-0 h-full z-0"
    src="svg/home-left.svg"
    alt="home-left"
  />
  <img
    class="absolute top-0 right-0 h-full z-0"
    src="svg/home-right.svg"
    alt="home-right"
  />
</main>
