<div (click)="setNavStatus()" [ngClass]="{'fixed left-0 top-0 w-screen h-screen bg-dark-bg/30': status == 'show'}">

</div>
<div
  (click)="setNavStatus()"
  [ngClass]="{
    'translate-y-[0px]': status == 'show',
    'translate-y-[65vh]': status == 'pre-hide',
    'translate-y-[70vh] opacity-50': status == 'hide'
  }"
  class="fixed h-[70vh] pt-20 w-screen max-w-[720px] rounded-t-4xl px-10 bottom-0 bg-light-bg shadow-light left-1/2 -translate-x-1/2 transition-all duration-300"
>
  <div
    class="grid grid-cols-2 gap-3 overflow-y-scroll scroll-smooth hide-scrollbar"
  >
    <a [routerLink]="['/nosy-game']" [queryParams]="{mode:'game'}">
      <button class="bg-nosy-game w-full h-[96px] rounded-2xl font-semibold text-xl text-light-bg hover:cursor-pointer">Nosy Game</button>
    </a>
    <a [routerLink]="['/kinglee-game']">
      <button class="bg-kinglee-game w-full h-[96px] rounded-2xl hover:cursor-pointer">King Lee</button>
    </a>
    <a [routerLink]="['/dude-or-there']">  
      <button class="bg-dude-or-there w-full h-[96px] rounded-2xl opacity-30 hover:cursor-pointer">Dude or There</button>
    </a>
  </div>
</div>
