<div
  [ngClass]="{
    'h-[70vh] pt-25': status == 'show',
    'h-[10vh] pt-25': status == 'pre-hide',
    'h-[2vh] opacity-50': status == 'hide'
  }"
  class="fixed w-screen rounded-t-4xl px-5 bottom-0 bg-light-bg shadow-light"
>
  <div
    class="grid grid-cols-2 gap-3 overflow-y-scroll scroll-smooth h-full p-10"
  >
    <div *ngFor="let n of getRange(20)">
      <a [routerLink]="['/nosy-game']">
        <button class="bg-light-lazy w-full h-[96px] rounded-2xl"></button>
      </a>
    </div>
  </div>
</div>
