@import "tailwindcss";

@theme {
    --color-text-bglight: #424158;
    --color-text-bgdark: #ffffff;

    --color-light-bg: #ffffff;
    --color-light-lazy: #DFDFF1;
    --shadow-light: 0 -3px 4px rgba(123, 140, 232, 0.34);

    --color-dark-bg: #22242F;
    --color-dark-lazy: #2B2D37;

    --color-nosy-game: #4660EC;
    --color-kinglee-game: #86FF73;
    --color-dude-or-there: #B83CF2;
}

